{
  "root": true,
  "extends": [
    "lxsmnsyc/typescript/solid"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "no-bitwise": "off",
    "no-labels": "off",
    "no-restricted-syntax": "off",
    "no-unused-labels": "off"
  }
}