#cursor{
	width: 64px;
	height: 64px;
	
	transform: translate(-50%, -50%);
	
	background: #fff;
	
	mix-blend-mode: difference;
	
	position: fixed;
	top: 0px;
	left: 0px;
	
	border-radius: 50%;
	pointer-events: none;
}