@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes clip-dance {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.preset-gradient-1 {
  background-image: linear-gradient(60deg, #f72585ff, #7209b7ff, #3a0ca3ff, #4361eeff, #4cc9f0ff);
}
.preset-gradient-2 {
  background-image: linear-gradient(60deg, #390099ff, #9e0059ff, #ff0054ff, #ff5400ff, #ffbd00ff);
}
.preset-gradient-3 {
  background-image: linear-gradient(60deg, #2d00f7ff, #6a00f4ff, #8900f2ff, #a100f2ff, #b100e8ff, #bc00ddff, #d100d1ff, #db00b6ff, #e500a4ff, #f20089ff);
}
.preset-gradient-4 {
  background-image: linear-gradient(60deg, #70d6ffff, #ff70a6ff, #ff9770ff, #ffd670ff, #e9ff70ff);
}
.preset-gradient-5 {
  background-image: linear-gradient(60deg, #cdb4dbff, #ffc8ddff, #ffafccff, #bde0feff, #a2d2ffff);
}
.preset-gradient-6 {
  background-image: linear-gradient(60deg, #2d00f7ff, #6a00f4ff, #8900f2ff, #a100f2ff, #b100e8ff, #bc00ddff, #d100d1ff, #db00b6ff, #e500a4ff, #f20089ff);
}
.preset-gradient-7 {
  background-image: linear-gradient(60deg, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);
}

.gradient-text {
  background-size: 200%;
  animation-name: clip-dance;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
}